.icon{
  color: red;
}

.grid{

  display: grid;
  justify-content:center;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
  grid-gap:10px;

}
.grid .box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 105, 86);
  font-size: 2rem;
  
}
h1{
  margin-left:35rem;
  color:white;
}
body{
  background-color:black;
}
button{
 position:relative;
 left:45rem;
 border-radius:8px;
 padding:5px;
}
button:hover{
  background-color: red;
}